src/*.exe
src/beavercoin
src/beavercoind
src/test_ beavercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.beavercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
beavercoin-qt
Beavercoin-Qt.app

# Unit-tests
Makefile.test
beavercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
